URL=tleister.42.fr
BONUS_URL=bonus.42.fr


DB_NAME=z
DB_USER=z
DB_PASSWORD=z
DB_ROOTPASSWORD=z

WP_TITLE=

WP_ADMIN=z
WP_ADMIN_PASSWORD=z
WP_ADMIN_EMAIL=z@z.z
WP_USER=zz
WP_USER_EMAIL=zz@z.z
WP_USER_PASSWORD=z

FTP_USER=z
FTP_PASSWORD=z